body {
    font-family: Arial, sans-serif;
    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f3e7d4; /* Fondo del contenedor */
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: 2px solid #ffffff; /* Borde del contenedor */
}

h2 {
    text-align: center;
    color: #000000; /* Color del título */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000; /* Color de las etiquetas */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ffecb7; /* Color del borde de los inputs */
    border-radius: 4px;
}

table {
    width: 70%;
    margin: 25px auto;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    background-color: #ffffff; /* Fondo de la tabla */
    border: 2px solid #ffffff; /* Borde de la tabla */
    border-radius: 8px;
}

th, td {
    padding: 12px;
    border: 1px solid #ffffff; /* Borde de las celdas */
}

th {
    background-color: #f3e7d4; 
    color: #1c1c20; /* Color del texto del encabezado */
}

tr:nth-child(even) {
    background-color: #4e1717; /* Color de fondo de filas pares */
}

tr:hover {
    background-color: #ffffff; /* Color de fondo al pasar el mouse sobre filas */
}
