body {

  background-image: url(./pasteleria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.caja_grande {
 
  width: 100%;
  height: max-content;
  display: flex;
  margin-left: 15rem;
}

.caja {
  background-color: rgba(128, 87, 55, 0.527);
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-left: 10rem;
  margin-top: 6rem;
}

.usuario {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barrau {
  padding: 12px 30px;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.password {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barrau {
  padding: 12px 30px;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.sesion {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 45, 23);
  border-radius: 2rem;
  top: 0.5;
  margin-top: 2rem;
  margin-left: 0.6rem;
  
}
.tboton {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 45, 23);
  border: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-left: 0.6rem;
}

.inicio {

  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
