body{
    background-image: url(./regitro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.caja_registro{
    background-color: rgba(106, 73, 109, 0.637);
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 28rem;
    margin-top: 6rem;
}
.barrau{
    padding: 12px 30px;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.registrar{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(93, 47, 124);
    border-radius: 2rem;
    margin-left: 4rem;

}